.book-details {
  min-height: 100vh;
  padding: 40px;
  background: #f9f7f4;
  font-family: "Georgia", serif;
}

.back-button {
  background: linear-gradient(135deg, #6a5acd, #836fff);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(106, 90, 205, 0.3);
}

.back-button:hover {
 transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(106, 90, 205, 0.45);
  opacity: 0.95;
}

.book-card {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  gap: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.book-cover {
  width: 160px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.book-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1f2a37;
}

.author {
  font-style: italic;
  color: #6b7280;
  margin-bottom: 25px;
}

.description {
  line-height: 1.7;
  color: #374151;
  margin-bottom: 30px;
  text-align: justify;
}

.date {
  font-size: 14px;
  color: #9ca3af;
}
